.box{
    display: flex;
    height: 82%;
}

.registration{
    background-color: gray;
    padding-left: 25%;
    padding-top: 10%;
    width: 50%; 
}

.registrationText{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 2%;
}

.registartionloginText{
    color: white;
    padding-top: 1%;
}

.emailText{
    color: white;
    padding-top: 1%;
}

.registartionPasswordText{
    color: white;
    padding-top: 1%;
}

.spaceButton{
    padding-bottom: 3%;
}

.registrationButton{
    position: relative;
    width: 30%;
    height: 8%;
    font-size: 25px;
    font-weight: bold;
    background-color: RGB(166, 19, 3);
    color: white;
}

.login{
    background-color: gray;
    padding-top: 10%;
    width: 50%;
    float:right
}

.loginText{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 2%;
}

.inputLoginText{
    color: white;
    padding-top: 1%;  
}

.passwordText{
    color: white;
    padding-top: 1%;
}

.loginButton{
    position: relative;
    width: 30%;
    height: 8%;
    font-size: 25px;
    font-weight: bold;
    background-color: RGB(166, 19, 3);
    color: white;
}




