<app-top-bar-generic></app-top-bar-generic>
<div class="box">
    <div style="width: 50%; float: left;" class="registration">
        <div class="registrationText">Rejestracja</div>
        <div class="registartionloginText">Login</div>
        <input type="login" placeholder="Login"[(ngModel)]="registrationUserName">
        <div class="emailText">Email</div>
        <input type="email" placeholder="Email"[(ngModel)]="registrationUserEmail">
        <div class="registartionPasswordText">Hasło</div>
        <input type="password" placeholder="Hasło"[(ngModel)]="registrationUserPassword">
        <div class="repeatPasswrodText">Powtórz hasło</div>
        <input type="password" placeholder="Powtórz hasło"[(ngModel)]="registrationUserRepeatedPassword">
        <div class ="spaceButton"></div>
        <button class="registrationButton"
        (click)="registrationButtonClick()">Rejestracja</button>
    </div>

    <div style="width: 50%;float:right" class="login">
        <div class="loginText">Zaloguj</div>
        <div class="inputLoginText">Login</div>
        <input type="login" id="loginInput" name="loginInput" placeholder="Login">
        <div class="passwordText">Hasło</div>
        <input type="password" id="passwordInput" placeholder="Hasło">
        <div class ="spaceButton"></div>
        <button class="loginButton">Zaloguj</button>
    </div>
</div>
<button class="returnToMain" [routerLink]="['/']">Główna</button>
