.box{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 92%;
}

.registration{
    background-color: gray;
    padding-left: 15%;
    padding-top: 5%;
}

.registrationText{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 2%;
}

.loginText{
    color: white;
    padding-top: 1%;
}

.emailText{
    color: white;
    padding-top: 1%;
}

.passwordText{
    color: white;
    padding-top: 1%;
}

.repeatPasswrodText{
    color: white;
    padding-top: 1%;
}

.spaceButton{
    padding-bottom: 3%;
}

.registrationButton{
    position: relative;
    width: 25%;
    height: 8%;
    font-size: 25px;
    font-weight: bold;
    background-color: RGB(166, 19, 3);
    color: white;
}

.login{
    background-color: tomato;
    
    
 
}

.returnToMain{
    width: 100%;
    height: 8%;
    background-color: RGB(166, 19, 3);
    font-size: 25px;
    font-weight: bold;
    color: white;

}


