<app-top-bar-generic></app-top-bar-generic>
<div class="box">
    <div class="registration">
        <div class="registrationText">Rejestracja</div>
        <div class="registartionloginText">Login</div>
        <input type="login" placeholder="Login"[(ngModel)]="registrationUserName">
        <div class="emailText">Email</div>
        <input type="email" placeholder="Email"[(ngModel)]="registrationUserEmail">
        <div class="registartionPasswordText">Hasło</div>
        <input type="password" placeholder="Hasło"[(ngModel)]="registrationUserPassword">
        
        <div class ="spaceButton"></div>
        <button class="registrationButton"
        (click)="registrationButtonClick()">Rejestracja</button>
    </div>

    <div class="login">
        <div class="loginText">Zaloguj</div>
        <div class="inputLoginText">Login</div>
        <input type="login" id="loginInput" name="loginInput" placeholder="Login"[(ngModel)]="login">
        <div class="passwordText">Hasło</div>
        <input type="password" id="passwordInput" placeholder="Hasło"[(ngModel)]="password">
        <div class ="spaceButton"></div>
        <button class="loginButton"
        (click)="loginButtonClick()">Zaloguj</button>
    </div>
</div>
<div class="space"></div>
<button class="returnToMain" [routerLink]="['/']">Główna</button>
