<app-top-bar-generic></app-top-bar-generic>
<div style="width: 50%; float: left;" class="registration">
    <div>
    <div class="addText">Dodaj</div>
    <div class="title">Tytuł:</div>
    <input type="title" id="titleId" name="title" placeholder="Tytuł">
    <div class="title">Źródło obrazka:</div>
    <input type="source" id="sourceId" name="source" placeholder="Źródło">
    <div class="title">Podpis pod obrazkiem:</div>
    <input type="subtitle" id="subtitleId" name="subtitle" placeholder="Ścieżka">
    </div>
    <button class="addButon">Dodaj</button>
</div>
<div style="width: 50%;float:right" class="login">
    <div class="add">Dodaj</div>
</div>