.registration{
    background-color: gray;
    padding-left: 25%;
    padding-top: 10%;
    width: 50%; 
}

.box{
    display: flex;
    height: 82%;
}

.form-group{
    display: block;
}

.form-control{
    display: block;

}

.space{
    padding-bottom: 2%;
}

.file-input {
    display: none;
}
