<app-top-bar></app-top-bar>
<ol class="mainList">
    <li class="topText">xyz</li>
    <li class="img1"><img src="assets/img/demot1.jpg" alt="oops nie wiem ocb"height="500px" width="500px" ></li>
    <li class="bottomText">zyx</li>
    <li><button class="likeButton" >like</button><button class="dislikeButton">dislike</button></li>

    <li class="topText">abc</li>
    <li class="img2"><img src="assets/img/demot2.jpg"></li>
    <li class="bottomText">cba</li>
    <li><button class="likeButton" >like</button><button class="dislikeButton">dislike</button></li>
</ol>
